.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin: 0 5px;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 5px;
    height: 2px;
    width: calc(100% - 14px);
    left: 0;
    right: 0;
    margin: auto;
    background-color: #222;
}

.navbar-light .navbar-nav .nav-link:hover::after {
    content: '';
    position: absolute;
    bottom: 5px;
    height: 2px;
    width: calc(100% - 14px);
    left: 0;
    right: 0;
    margin: auto;
    background-color: #222;
}

.main-color {
    color: #FFDA00;
}

.main-bk {
    background-color: #FFDA00;
}

.about-img {
    /*max-height: 330px;*/
}

.icon {
    transition: all .5s ease-in-out;
}

.icon:hover {
    color: #FFDA00;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.image-carg {
    height: 300px;
    overflow: hidden;
}

.image-carg img {
    max-height: 100%;
    object-fit: cover;
    width: 100%;
}

.clas-bg-img {
    background-image: url("../img/about1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 450px;
    position: relative;
    z-index: 76;
}

.clas-bg-img.second {
    background-image: url("../img/pexels-life-of-pix-2391.jpg");
    background-position: bottom;
}

.clas-bg-img::after {
    background-color: rgb(0, 0, 0, 71%);
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #555;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    border-bottom: 3px solid #555555;
}

.image-top {
    top: -50px;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: #555;
    position: absolute;
    /* padding: 10px; */
}

.image-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


}
@media(max-width:676px) {}